@model Proyecto_Estructuras_1.Models.Inicio

@{
    ViewBag.Title = "Index";
}

<h2>Proyecto</h2>
<table class="table">
    <tr>
        <th>

@using (Html.BeginForm("Index", "SQL", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    <input type="file" name="postedFile" />
    <input type="submit" value="Trabajar con su nuevo diccionario" />
}
        </th>
    </tr>
    
    @Html.ActionLink("Pantalla1", "pantalla1")
    </table>
