@model Proyecto_Estructuras_1.Models.Inicio

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Inicio</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*<div class="col-md-offset-2 col-md-10">*@
                @using (Html.BeginForm("Index", "inicio", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" name="postfile" />
                   <input type="submit" value="Trabajar con su dicionario" class="btn btn-default" />
                }
            @*</div>*@
        </div>
        <input type="submit" value="Trabajar con diccionario predeterminado" class="btn btn-default" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
